<!-- Banner -->
<div class="home-banner">
  <h1>QRRICE</h1>
  
  <p>
    <span id="banner-typed-text"></span>
  </p>

  <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>

</div>
<!-- Banner -->

<br><br>
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
    Launch demo modal
  </button> -->

<!-- Modal sets-->
  <!-- Modal -->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel1">Modal title 1</h4>
        </div>
        <div class="modal-body">
            <h2>Le Wagon Copenhagen</h2>
            <p>Very cool city, the best</p>
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Visit Here</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel2">Modal title 2</h4>
        </div>
        <div class="modal-body">
          <h2>Le Wagon Lisbon</h2>
          <p>Very cool city, the best</p>
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Visit Here</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel3">Modal title 3</h4>
        </div>
        <div class="modal-body">
            <h2>Le Wagon Sao Paulo</h2>
            <p>Very cool city, the best</p>
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Visit Here</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<!-- Button trigger modal -->


              <!-- CARD CONTAINER-->
              <div class="container">
                  <h1>Restaurants</h1>
                <div class="row">
                  <!-- CARD ITEM -->
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
                      <div class="card-category">Popular</div>
                      <div class="card-description">
                        <h2>Le Wagon Copenhagen</h2>
                        <p>Very cool city, the best</p>
                      </div>
                      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
                      <a class="card-link" data-toggle="modal" data-target="#myModal1" href="#"></a>
                    </div>
                  </div>
                  <!-- CARD ITEM -->

                  <!-- CARD ITEM -->
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
                      <div class="card-category">Popular</div>
                      <div class="card-description">
                        <h2>Le Wagon Lisbon</h2>
                        <p>Very cool city, the best</p>
                      </div>
                      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/graysdays">
                      <a class="card-link" data-toggle="modal" data-target="#myModal2" href="#"></a>
                    </div>
                  </div>
                  <!-- CARD ITEM -->
                  
                  <!-- CARD ITEM -->
                  <div class="col-xs-12 col-sm-4">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/sao-paulo');">
                    <div class="card-category">Popular</div>
                    <div class="card-description">
                      <h2>Le Wagon Sao Paulo</h2>
                      <p>Very cool city, the best</p>
                    </div>
                    <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/matleroux">
                    <a class="card-link" data-toggle="modal" data-target="#myModal3" href="#"></a>
                  </div>
                </div>
                <!-- CARD ITEM -->

                <!-- CARD ITEM -->
                <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
                      <div class="card-category">Popular</div>
                      <div class="card-description">
                        <h2>Le Wagon Copenhagen</h2>
                        <p>Very cool city, the best</p>
                      </div>
                      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
                      <a class="card-link" data-toggle="modal" data-target="#myModal1" href="#"></a>
                    </div>
                  </div>
                  <!-- CARD ITEM -->

                  <!-- CARD ITEM -->
                  <div class="col-xs-12 col-sm-4">
                    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
                      <div class="card-category">Popular</div>
                      <div class="card-description">
                        <h2>Le Wagon Lisbon</h2>
                        <p>Very cool city, the best</p>
                      </div>
                      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/graysdays">
                      <a class="card-link" data-toggle="modal" data-target="#myModal2" href="#"></a>
                    </div>
                  </div>
                  <!-- CARD ITEM -->
                  
                  <!-- CARD ITEM -->
                  <div class="col-xs-12 col-sm-4">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/sao-paulo');">
                    <div class="card-category">Popular</div>
                    <div class="card-description">
                      <h2>Le Wagon Sao Paulo</h2>
                      <p>Very cool city, the best</p>
                    </div>
                    <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/matleroux">
                    <a class="card-link" data-toggle="modal" data-target="#myModal3" href="#"></a>
                  </div>
                </div>
                <!-- CARD ITEM -->

              </div>
            </div>
            <!-- CARD -->




            <br><br>
