.logo {
    background-image: asset-url("logo2.png");
    height: 200px;
    width: 600px;
    background-size: cover;
}

.logo2 {
    background-image: asset-url("logo2.png");
    height: 200px;
    width: 600px;
    background-size: cover;
}